<form action="/course/add" method="POST">
    <pre>
        <label>Course Name:</label>    <input value="" name="courseName" />
        <label>Course Duration:</label><input value="" name="courseDuration" />
        <label>Course Fees:</label>    <input value="" name="courseFee" />
                                                        <button type="submit">Add Course</button>
    </pre>
</form>
<a href="/course/list">Back To List</a>